.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.country-name {
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
}

body {
    max-width: 1280px;
    /* margin-top: 31px; */
    margin: 0 auto;
    margin-top: 31px;
}

.new-bd {
    display: flex;
    justify-content: space-between;

}

.btn-1 {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    background-color: #F5F5F5;
    border-color: #006A50;
    border-radius: 6px;
}

nav {
    margin-bottom: 30px;
}

.welcome {
    font-size: 24px;
    font-weight: 400;
    color: #0E0E0E;
    margin-bottom: 16px;
}

.hero-title {
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

.btn2 {
    background-color: #006A50;
    color: #FFFFFF;
    margin-top: 24px;
    padding: 17px 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../assets/');
    gap: 64px;
    background: #C6E4D6;
    padding: 117px 60px;
    border-radius: 15px;
}

main section {
    margin-bottom: 80px;
}

.pillar {}

.pillar-title {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.pillar-card {
    display: flex;
    gap: 24px;
}

.card1 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 24px;
    border-radius: 10px;
}

.pillar-icon {
    margin-bottom: 24px;
}

.pillar-title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
}

.pillar-description {
    font-size: 16px;
    color: #0E0E0E;
}

.vision-entry {
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}

.vision-description {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 32px;
}

.vision-card {}

.vision-card1 {
    border-radius: 5px;
    padding: 32px;
    background: #81B4FC;
    box-shadow: 0px 1px 1px #5490F5;
}

.vision-icon {
    margin-bottom: 24px;
}

.vision-title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}

.vision-description {
    margin-bottom: 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.vision-btn {
    font-size: 16px;
    font-weight: 600;
    background-color: #5490F5;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


/* card 2 */
.vision-card2 {
    border-radius: 5px;
    background: #C6E4D6;
    padding: 32px;
    box-shadow: 0px 1px 1px #C6E4D6;
}

.vision-icon2 {
    margin-bottom: 24px;
}

.vision-title2 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}

.vision-description2 {
    margin-bottom: 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.vision-btn2 {
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

/* card 3 */
.vision-card3 {
    border-radius: 5px;
    background: #F7EBCF;
    padding: 32px;
    box-shadow: 0px 1px 1px #F7EBCF;
}

.vision-icon3 {
    margin-bottom: 24px;
}

.vision-title3 {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
}

.vision-description3 {
    margin-bottom: 24px;
    font-size: 16px;
    color: #0E0E0E;
}

.vision-btn3 {
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.vision-card {
    display: flex;
    gap: 24px;
}


/* about yunus */
.about-yunus {
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .8);
    border-radius: 5px;
    background-position: 2% 2%;
}


.yunus {
    padding: 23px;
}

.description-yunus {
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 12px;
}

.yunus-name {
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0E;
}

.yunus-position {
    font-size: 16px;
    color: #0E0E0E;
}